.box1 {
  background-color: tomato;
  color: white;
  float: left;
  width: 70%;
}
.box1 h1 {
  padding: 5px;
}

.box2 {
  background-color: silver;
  color: black;
  float: left;
  width: 30%;
}
.box2 h1 {
  padding: 5px;
}
.box3 {
  background-color: blue;
  color: black;
  float: left;
  width: 30%;
}
.box3 {
  padding: 5px;
}

.box4 {
  background-color: black;
  color: white;
  float: left;
  width: 39%;
}
.box4 h2 {
  padding: 5px;
}
.box5 {
  background-color: green;
  color: gold;
  float: right;
  width: 30%;
}
.box5 h2 {
  padding: 5px;
}

.box6 {
  background-color: yellow;
  color: orange;
  float: left;
  width: 50%;
}

.box6 h3 {
  padding: 10px;
}

.box7 {
  background-color: brown;
  color: red;
  float: right;
  width: 50%;
}

.box7 h3 {
  padding: 10px;
}
